# Displaying PHP errors
php_flag display_errors on
php_value error_reporting 6143
php_value upload_max_filesize 50M
php_value post_max_size 50M

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\?*$ index.php/$1 [L,QSA]
